*, * * {
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    line-height: 1.3em;
}

#page {
    flex-direction: row;
    height: 100%;
    width: 100%;

    aside {
        background-color: #eee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        width: 22.5vw;

        footer {
            display: block;
            padding: 1vw;
        }

        nav {
            flex-grow: 1;

            a {
                display: block;
                padding: 1vw;
                text-decoration: none;
                width: 22.5vw;

                &.active {
                    background-color: #fff;
                }

                .fa {
                    margin-right: 1vw;
                    width: 1vw;
                }
            }
        }
    }

    main {
        margin-left: 22.5vw;
        width: 77.5vw;
    }
}

.theme {
    &-calmGray {
        background: #53575d;
        color: #e0ded1;

        a {
            color: #e0ded1;
        }
    }

    &-greenSea {
        background: #8ece71;
        color: #00737f;

        a {
            color: #00737f;
        }
    }

    &-greenSun {
        background: #22a884;
        color: #f4c200;

        a {
            color: #f4c200;
        }
    }
    &-underWater {
        background: #007a87;
        color: #89f165;

        a {
            color: #89f165;
        }
    }
    &-pinkStraw {
        background: #f29d8e;
        color: #6b1e5c;

        a {
            color: #6b1e5c;
        }
    }
    &-redShine {
        background: #db564a;
        color: #fff9ec;

        a {
            color: #fff9ec;
        }
    }
    &-deepPurple {
        background: #752666;
        color: #ffc9bf;

        a {
            color: #ffc9bf;
        }
    }
    &-calmBlack {
        background: #2a2a2a;
        color: #797e80;

        a {
            color: #797e80;
        }
    }
    &-redAccent {
        background: #fff;
        color: #db564a;

        a {
            color: #db564a;
        }
    }
    &-eveningSand {
        background: #f4ad03;
        color: #cf6b00;

        a {
            color: #cf6b00;
        }
    }
    &-skyBlue {
        background: #4e8ef7;
        color: #f5fef1;

        a {
            color: #f5fef1;
        }
    }
    &-deepBlue {
        background: #001d54;
        color: #6f9ec4;

        a {
            color: #6f9ec4;
        }
    }
}
