/* ------------------------------------------------ */
.page-preloader {
  align-content: center;
  align-items: center;
  background: #F0DFCC;
  display: flex;
  justify-content: center;

  .fa-spinner {
    font-size: 33vh;
  }
}
