main.page-main {
    section {
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.5vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        padding-top: 4vw;
    }

    section a {
        height: 20vw;
        margin: 0.5vw;
        width: 24.5vw;

        .content {
            align-content: center;
            align-items: center;
            display: flex;
            flex-grow: 1;
            height: 20vw;
            justify-content: center;
            margin-top: -4vw;
            text-align: center;

            .fa {
                display: block;
                font-size: 4vw;
            }

            .title {
                margin-top: 0.5vw;
            }
        }

        .status {
            display: flex;
            justify-content: space-between;
            padding: 1vw;
            height: 4vw;
            width: 24.5vw;

            .fa {
                margin-right: 0.5vw;
            }
        }
    }
}
