main.page-chat {
    display: flex;
    flex-direction: row;
    height: 100%;

    header.settings {
        background-color: #ddd;
        display: flex;
        flex-direction: row;
        width: 12.5vw;

        nav {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            a {
                align-items: center;
                display: flex;
                padding: 1vw;
            }
        }
    }

    section.chatboard {
        flex-grow: 1;

        .messageList {
            height: 94vh;
            overflow: scroll;

            article {
                display: flex;
                flex-direction: column;
                padding: 0.5vw;

                header {
                    padding: 0;

                    time {
                        font-weight: bold;
                    }
                }

                p {
                    background-color: #eee;
                    flex-grow: 1;
                    margin: 0;
                }
            }
        }

        form {
            display: flex;
            flex-direction: row;
            height: 6vh;
            padding: 1vh;

            input {
                flex-grow: 1;
                margin-right: 0.5vw;
            }
        }
    }
}
