.page-chat main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .messageList {
        flex-grow: 1;
        overflow: scroll;

        article {
            background-color: #eee;
            margin: 1vw;
            padding: 0.5vw;
        }
    }

    form {
        display: flex;
        flex-direction: row;
        height: 3.5vw;
        padding: 0.5vw;

        input {
            flex-grow: 1;
            margin-right: 0.5vw;
        }
    }

    header {
        padding: 0.5vw;
    }
}
