{% extends "layout.html.twig" %}

{% block bodyOpenTag %}
    <body class="page-login">
{% endblock %}

{% block content %}
    <div class="login-window window-md box-lg z-shadow-5 hvr-wobble-vertical">
    <h1 class="grand text-xxl">Chat board
        <!-- <span class="ion-chatbox-working"></span> -->
        <span class="ion-chatbubbles"></span>
        <!-- <span class="ion-chatboxes"></span> -->
    </h1>
    <h2 class="text-md">Create conversation board in seconds</h2>
    <hr>
        <p>Duis feugiat fermentum lacus, consectetur finibus quam ornare eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus porttitor ligula id nisi posuere sagittis.</p>
        <span class="button-md circular loginButton hover-grow">
            <span class="ion-social-facebook icon"></span> login with facebook
        </span>
    </div>
{% endblock %}
