{% extends "layout.html.twig" %}

{% block bodyOpenTag %}
    <body class="page-login">
{% endblock %}

{% block content %}
    <div class="login-window window-md box-lg z-shadow-5 hvr-wobble-vertical">
        <h1 class="grand text-xxl">
            mychat.chat
            {# <span class="ion-chatbox-working"></span> #}
            <span class="ion-chatbubbles"></span>
            {# <span class="ion-chatboxes"></span> #}
        </h1>
        <h2 class="text-md">
            Anonymous conversation boards in seconds
        </h2>
        <hr>
        <p>
            Duis feugiat fermentum lacus, consectetur finibus quam ornare eget.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae;
            Phasellus porttitor ligula id nisi posuere sagittis.
        </p>
        <a class="button-md circular hover-grow" href="/">
            skip
        </a>
        <a class="button-md circular loginButton hover-grow" href="/auth/login/facebook">
            <span class="ion-social-facebook icon"></span>
            Log in with Facebook
        </a>
    </div>
{% endblock %}
