<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Chatboard</title>
  </head>
  <body class="page-main">

    <div class="wrapper">

      <nav class="topbar">
        <ul class="topnav">
          <li><a href="#"><span class="ion-coffee logo"></span></a></li>
          <li><a href="#">Create Board</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#" for-panel=".panel-myProfile"><span class="ion-person"></span> My profile</a></li>
          <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
          <li class="search-container">
            <input type="text" placeholder="Search" class="search">
            <span class="ion-ios-search-strong icon"></span>
          </li>
        </ul>
      </nav>
      <div class="subbar">
        <div class="subbar-inwrap">
          <span class="button-xs circular fblike">like us on facebook</span>

          <div class="gui-slidePanel panel-myProfile">
            <div class="panelHeader">my profile</div>
            <div class="panelContent">
              <label>
                Edit:
              <input type="text" class="input-md" value="Dariusz Sikorski">
              </label>
              <div class="bar">
                <div class="bar-left">
                  <img src="http://woape.com/avatar_placeholder.png" alt="user photo" class="userPhoto">
                  <span class="button-sm getPhotoBtn">import photo from facebook</span>
                </div>
                <div class="bar-right"><a href="#" class="deleteAccountBtn">delete account</a></div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="container">

        <section class="tileGrid">







            <div class="tile theme-greenSea">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-android-happy"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-pinkStraw">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon fa fa-meh-o"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-redAccent">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-android-sad"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-greenSun">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon fa fa-comments-o"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-redShine">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-beer"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-eveningSand">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-pizza"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-underWater">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-ios-sunny"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-deepPurple active">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-headphone"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-skyBlue">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-heart"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-calmGray">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon fa fa-bicycle"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-calmBlack">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon fa fa-facebook-official"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>

            <div class="tile theme-deepBlue">
              <div>
                <span class="upper-left tile-part">
                  <span class="ion-chatbubble icon"></span>
                  <span>25</span>
                </span>
                <span class="upper-right tile-part">
                  <span class="ion-person-stalker icon"></span>
                  <span>12</span>
                </span>
                <span class="centered tile-part">
                  <span class="icon ion-map"></span>
                  <strong>What to eat in the office?</strong>
                </span>
              </div>
            </div>






        </section>

      </div>
    </div>



  <div class="footer">
    <p>&copy; 2014-2015. Made with love <span class="fa fa-heart-o"></span><br>by Authors of <i>Chatboard</i></p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- <script src="http://cssrefresh.frebsite.nl/js/cssrefresh.js"></script> -->
  <script type="text/javascript" src="./assets/js/script.js"></script>
  </body>
</html>
