<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="/assets/css/style.css">
        <title>Chatboard</title>
    </head>
    {% block bodyOpenTag %}
        <body>
    {% endblock %}
        {% block content %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/script.js"></script>
    </body>
</html>
