<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Grand+Hotel" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,600,300" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,400italic|Lobster|Oswald" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <title>Chatboard</title>
    </head>
    {% block bodyOpenTag %}
        <body class="page-preloader">
    {% endblock %}
        {% block content %}
            <span class="fa fa-spinner fa-pulse"></span>
        {% endblock %}

        {% block scripts %}
            <script src="/assets/js/chatboard.common.min.js"></script>
            <script src="/assets/js/chatboard.chatboard-app.min.js"></script>
        {% endblock %}
    </body>
</html>
