<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <title>Chatboard</title>
    </head>
    {% block bodyOpenTag %}
        <body>
    {% endblock %}
        {% block content %}
            <div class="preloader" id="page">
                <span class="fa fa-spinner fa-pulse"></span>
            </div>
        {% endblock %}

        {% block scripts %}
            <script src="/assets/js/chatboard.common.min.js"></script>
            <script src="/assets/js/chatboard.chatboard-app.min.js"></script>
        {% endblock %}
    </body>
</html>
